<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <head th:replace="mysnippets.html :: name_head"></head>
<body class="bg-light">
<header th:replace="mysnippets.html :: name_header"></header>
<div th:replace="mysnippets.html :: common_modals"></div>
<div class="row" id="body-row">
    <div th:replace="mysnippets.html :: side_bar"></div>
    <div class="col">
        <div class="col">
            <div class="mt-2" >
                <div >
                    <div class="d-flex justify-content-between">
                        <div><h4>DashBoard</h4></div>
                        <div class="wrapper">
                            <button type="button" class="btn btn-primary" id="updatealgo">
                                Edit
                            </button>
                            <div class="btn-group">
                                <button type="button" id="run-algo-button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Run Algo
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <button class="dropdown-item" type="button" id="run-algo1" onclick="runAlgo('algo1')">Algorithm 1</button>
                                    <button class="dropdown-item" type="button" id="run-algo2" onclick="runAlgo('algo2')">Algorithm 2</button>
                                    <div class="dropdown-divider"></div>
                                    <button class="dropdown-item" type="button" id="run-all" onclick="runAlgo('All')">Run All</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

        <div class="mt-3 " id="cardview">
            <div class="card-body" >
            <div class="row">
                <div class="col-md-3 " id="firstTile">
                </div>
                <div class="col-md-3" id="secondTile">
                </div>
                <div class="col-md-3" id="thirdTile">
                </div>
                <div class="col-md-3 " id="fourthtile">
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>

<div class="modal" tabindex="-1" role="dialog" id="update-properties-modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Update Algo Properties</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="row g-3" id="algo-edit-form">
                            <div class="col-md-6">
                                <label  class="form-label" data-toggle="tooltip" title="">Parameter 1</label>
                                <input type="number" pattern="^\d*(\.\d{0,2})?$" step="0.01"  class="form-control" name="parameter1" required>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label" data-toggle="tooltip" title="">Parameter 2</label>
                                <input type="number" pattern="^\d*(\.\d{0,2})?$" step="0.01"  class="form-control" name="parameter2" required>
                            </div>
                            <div class="col-md-6">
                                <label  class="form-label" data-toggle="tooltip" title="">Parameter 3</label>
                                <input type="number" pattern="^\d*(\.\d{0,2})?$" step="0.01"  class="form-control" name="parameter3" required>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label"  data-toggle="tooltip" title="">Parameter 4</label>
                                <input type="number" pattern="^\d*(\.\d{0,2})?$" step="0.01"  class="form-control" name="parameter4" required>
                            </div>
                            <div class="col-md-12">
                                <label  class="form-label" data-toggle="tooltip" title="">Parameter 5</label>
                                <input type="text" readonly="readonly" class="form-control" name="parameter5" id="parameter5"  required>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <button type="submit" class="btn btn-primary" id="update-algo">Update</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/static/js/toast.js}"></script>
<script th:src="@{/static/js/sidebar.js}"></script>
<script th:src="@{/static/js/app.js}"></script>
<script th:src="@{/static/js/algoProperties.js}"></script>
<script th:src="@{/static/js/dashboardTile.js}"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</body>
</html>